/* rem & em do not depend on html font-size in media queries! Instead, 1rem = 1em = 16px */ 

/* ************************ */
/* Responding to small laptops */


/* **** LARGE MONITORS ****** */
@media(min-width: 91em){ 
  .spiral-arrow{
    display: none;
  }
}

/* BELOW 1264px */
@media(max-width: 79em){
  .hero-text-primary {
    font-size: 5.4rem;
  }

  .book-consultation-area{
   margin: 10rem;
  }

  .meet-the-ceo{
    margin-left: 10rem;
    margin-right: 10rem;
  }
}


/* BELOW 1072px */
@media(max-width: 73em){
  .hero {
    padding-top: 10rem;
    padding-left: 10rem;
    max-width: 90rem;
  }

  .feature {
    max-width: 300px;
    height: 250px;
    margin-bottom: 4rem;
    box-shadow: none;
    border: .05px solid #55555523;
  }

  .feature p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.5;
  }

  .description--lg {
    max-width: 66rem;
    margin: 1rem auto 5rem;
  }
}

/* BELOW 992px */
@media(max-width: 62em) {
  .grid--3-cols-features {
    grid-template-columns: repeat(2, 1fr);
  }

  .feature--mq1{
    justify-self: end;
    margin-right: 1.25rem
  }

  .feature--mq2{
    justify-self: start;
    margin-left: 1.25rem
  }

  .feature--mq3{
    grid-column: 1 / -1; /* Spans across both columns */
    justify-self: center; /* Centers the item horizontally */
  }
  
}