/* rem & em do not depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/* ************************ */
/* Responding to small laptops */

/* **** LARGE MONITORS ****** */
@media (min-width: 91em) {
  .spiral-arrow {
    display: none;
  }
}

/* BELOW 1264px */
@media (max-width: 79em) {
  .hero-text-primary {
    font-size: 5.4rem;
  }

  .book-consultation-area {
    margin: 10rem;
  }

  .meet-the-ceo {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

/* BELOW 1072px */
@media (max-width: 73em) {
  .hero {
    padding-top: 10rem;
    padding-left: 10rem;
    max-width: 90rem;
  }

  .feature {
    max-width: 300px;
    height: 250px;
    margin-bottom: 4rem;
    box-shadow: none;
    border: 0.05px solid #55555523;
  }

  .feature p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.5;
  }

  .description--lg {
    max-width: 66rem;
    margin: 1rem auto 5rem;
  }
}

/* BELOW 992px */
@media (max-width: 62em) {
  .grid--3-cols-features {
    grid-template-columns: repeat(2, 1fr);
  }

  .feature {
    border-radius: 2rem 2rem;
  }

  .feature--mq1 {
    justify-self: end;
    margin-right: 1.25rem;
  }

  .feature--mq2 {
    justify-self: start;
    margin-left: 1.25rem;
  }

  .feature--mq3 {
    grid-column: 1 / -1; /* Spans across both columns */
    justify-self: center; /* Centers the item horizontally */
  }
}

/* BELOW 944px */
@media (max-width: 59em) {
  .hero {
    padding-left: 8rem;
  }

  .hero-text-primary {
    font-size: 4.8rem;
    max-width: 70rem;
  }

  .hero-secondary {
    font-size: 1.4rem;
  }

  .subheading {
    font-size: 4rem;
  }

  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-in;

    /*hide visually  */
    opacity: 0;
    /* hide from mouse and keyboard */
    pointer-events: none;
    /* hide from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2rem;
  }

  .resource span {
    font-size: 1.8rem;
  }
  
  .resource p {
    max-width: 24rem;
    font-size: 1.1rem;

  }

  .spiral-arrow {
    display: none;
  }

  .testimonial img:not([src*="person"]){
    display: none;
  }

  .testimonial {
    grid-template-columns: 1fr;
  }

  .meet-the-ceo2 p {
    font-size: 1.2rem;
    line-height: 2.2rem;
  }

  .footer-text {
    font-size: 1.3rem;
  }
}

/* BELOW 816px */
@media (max-width: 51em) {
  .hero-text-primary {
    font-size: 4.2rem;
    max-width: 60rem;
  }

  .resource span {
    font-size: 1.5rem;
    font-weight: 550;
  }

  .resource p {
    max-width: 20rem;
    font-size: 1.1rem;
    line-height: 1.6;
  }

  .meet-the-ceo.grid--2-cols {
    grid-template-columns: 0.8fr 1fr;

  }


}
